body {
    overflow-x: hidden;
}

.desc {
    font-size: small;
    font-style: normal;
    margin-bottom: 10px;
    font-weight: 800;
    color: #333;
    margin-left: 5px;
}

.img-fluid {
    margin-top: -23px;
}

.total-amount {
    font-size: xx-large;
    color: #3baeff;
}

.amount {
    margin-right: 66px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.custom-img {
    width: 50%;
    float: left;
}

.border {
    border: 1px solid gainsboro;
    padding: 22px;
}

.border-invoice {
    border-color: #103453;
    border-radius: 6px;
    border: 1px solid gainsboro;
    padding: 22px;
}

.total-all {
    color: #1b9fec;
    background-color: #e6e6e6;
    padding: 10px;
    font-size: large;
}

.margin-top {
    margin-top: 49px;
}

.margin-top-extra {
    margin-top: 124px;
}

.logo-invoice {
    float: left;
    width: 36%;
    margin-left: 50px;
    margin-top: 42px;
}

.margin-right-extra {
    margin-right: 50px;
}

.margin-right {
    margin-right: 30px;
}

.participation-desc {
    color: #fff;
    background-color: #103453;
    border-color: #103453;
    padding: 6px;
    font-size: medium;
    height: auto;
    border-radius: 6px;
}

.participation-desc:hover,
.participation-cancel:hover {
    color: #fff;
    background-color: #103453;
    border-color: #103453;
}

.participation-cancel {
    color: #fff;
    background-color: #c5c5c5;
    border-color: #c5c5c5;
    padding: 6px;
    font-size: medium;
    height: auto;
    border-radius: 6px;
    margin-left: 11px;
}

p {
    font-size: small;
    color: #333;
    font-weight: 400;
    margin-bottom: 8px !important;
}

.header-img {
    width: 100%;
    height: 370px;
}

.nav {
    margin-bottom: 18px;
    margin-left: 0;
    list-style: none;
    margin-right: 40%;
}

.nav>li>a {
    display: block;
}

.nav-tabs {
    *zoom: 1;
    border-bottom: none !important;
}

.nav-tabs:before,
.nav-tabs:after {
    display: table;
    content: "";
}

.nav-tabs:after {
    clear: both;
}

.nav-tabs>li {
    float: left;
}

.nav-tabs>li>a {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
}

.nav-tabs>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 18px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.nav-tabs>li>a:hover {
    border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs>.active>a,
.nav-tabs>.active>a:hover {
    color: #555555;
    cursor: default;
    background-color: #ffffff;
    border: 1px solid #ddd;
}

li {
    line-height: 18px;
}

.tab-content.active {
    display: block;
}

.tab-content.hide {
    display: none;
}