.dropdown-menu{
	top: 82% !important; font-size: 13px;max-width: 280px;border: 1px solid #33b0f870;border-radius: 0.9rem;box-shadow: 1px 1px 2px 2px #00000017;
}

.custom-footer-mar{
	margin-bottom: 49px !important;
}

#toast-container{
	left: 30px !important;
}

#mainMenuResp{
	display: none !important;
}

.custom_title_text{
	color: #01355d !important;
}

.rebeated-q{
	padding: 30px 40px;
}

.navbar{
	direction: rtl;
}
.policy_mobile_view, .custom-pricing-section-mobile, .custom-show-filters, .custom-slider-mob, .custom-rec-city-mob{
	display: none !important;
}

.show-prices, #mem-f{
	display: none;
}

.custom-fav-img{
	width: 45%;border: 0px black solid;border-radius: 50%;margin-top: 4px;
}

.custom_explore_text{
	margin: 30px 120px 0 120px; 
}

.custom-title-head{
	font-size: 20px;
}

.custom-faq-res{
	margin: 0 10px 0 10px;
}

.generalSearch{
	margin-top: .6rem;
}

@media (min-width: 575px) and (max-width: 800px) {
	.nav {
	    margin-right: 28% !important;
	}
	.custom-row-margin{
		margin-right: unset !important;
		margin-left: unset !important;
	}

	.navbar-toggler{
		margin-left: 60px !important;
	}

	.nav {
    	margin-top: 40px !important;
    }
}

@media (min-width: 510px) and (max-width: 575px) {
	.footerBottomMenu{
		margin-right: -60px !important; 
	}
	.custom-payment-img{
		margin-right: 49px !important;
	}
	.footermenu{
	    margin-right: 20px !important;
	}
	.custom-align{
		text-align: unset !important;
	}
	img.footerlogo{
		width: 30% !important;
		margin-left: unset !important;
	}
	.footer-social{
		margin-right: 96px !important;
	}
	.mx-auto{
		padding: 30px !important;
		margin-top: -96px !important;
	}
	.custom-align-branches{
		text-align: -webkit-center !important;
	}
	.circle {
	    position: relative !important;
	    width: 26% !important;
	    padding-bottom: 10% !important;
	    background: #fff !important;
	    border-radius: 41% !important;
	}
	.custom-margin-map{
		margin-top: 10px !important;
	}
	.circle:hover {
	    background: #01355d !important;
	    color: #fff !important;
	}
	.cd-faq-trigger:before{
		position: absolute !important;
    	left: 8px !important;
    	top: 30% !important;
	}
	.cd-faq-question{
		width: 121% !important;
    	margin-right: -25px !important;
	}
	.nav-tabs {
	    margin-top: 50px !important;
	    margin-right: 23% !important;
	}

	.custom-row-margin{
		margin-right: unset !important;
		margin-left: unset !important;
	}

	.pricing-switcher .car_btn label {
		width: 89px !important;
	}


	ul.pricetable li {
		flex: 0 !important;
		margin-right: 60px !important;
	}

	.text-muted{
		    margin: 0px 29px !important;
	}

	.cartype li {
     	width: 24% !important; 
	}


	.custom-margin-car-slider{
		margin: 10% !important;
	}

	.cd-faq-items {
		margin: 27px !important;
	    width: 82% !important;
	}

	.custom-pay-img li {
        width: max-content !important;
    	margin-right: 10px !important;
    }
    .margin-right {
    	 margin-right: unset !important; 
	}

	.margin-top {
	    margin-top: unset !important; 
	}

	.margin-top-extra {
		margin-top: unset !important;
	    margin-right: 50px !important;
	}

	.logo-invoice {
		float: none !important;
		margin-left: unset !important;
	    width: 36% !important;
	    margin-right: 50px !important;
	    margin-top: 42px !important;
	}

	.navbar-toggler{
		margin-left: 50px !important;
	}

	body.menu-opened .navbar.navbar-expand-lg #mainMenu {
	    width: 100% !important;
	    padding: 15% !important;
	}

	.dropdown-menu{
		top: 24% !important;
	    font-size: 13px !important;
	    max-width: 100% !important;
	    border: 1px solid #33b0f870 !important;
	    border-radius: 0.9rem !important;
	    box-shadow: 1px 1px 2px 2px #00000017 !important;
	}

	.show>.dropdown-menu {
    	left: 49% !important;
    }

    .custom-fav-img{
        width: 15% !important;
    	margin-top: -68px !important;
    }
}

@media (min-width: 400px) and (max-width: 510px) {
	.footerBottomMenu{
		margin-right: -60px !important; 
	}
	.custom-payment-img{
	    margin-right: -20px !important;
	    margin-top: -29px !important;
	    text-align: end !important;
	}

	.payment-img li{
		width: 60px !important;
	}
	.footermenu{
	    margin-right: -42px !important;
	    font-size: 11px !important;
	}
	.custom-align{
		text-align: unset !important;
	}
	img.footerlogo{
		width: 30% !important;
		margin-left: unset !important;
	}
	.footer-social{
		margin-right: 38px !important;
	}
	.footer-social a {
	    margin-left: 8px !important;
	}
	.mx-auto{
		padding: 30px !important;
		margin-top: -96px !important;
	}
	.custom-align-branches{
		text-align: -webkit-center !important;
	}
	.circle {
	    position: relative !important;
	    width: 26% !important;
	    padding-bottom: 10% !important;
	    background: #fff !important;
	    border-radius: 41% !important;
	}
	.custom-margin-map{
		margin-top: 10px !important;
	}
	.circle:hover {
	    background: #01355d !important;
	    color: #fff !important;
	}
	.cd-faq-trigger:before{
		position: absolute !important;
    	left: 8px !important;
    	top: 30% !important;
	}
	.cd-faq-question{
		width: 121% !important;
    	margin-right: -25px !important;
	}
	.nav-tabs {
	    margin-top: 50px !important;
	    margin-right: 10% !important
	}

	.custom-row-margin{
		margin-right: unset !important;
		margin-left: unset !important;
	}

	.pricing-switcher .car_btn label {
		width: 89px !important;
	}

	ul.pricetable li {
		flex: 0 !important;
		margin-right: 22px !important;
	}

	.text-muted{
		margin: 0px 29px !important;
	}
	
	.cartype li {
     	width: 24% !important; 
	}

	.custom-margin-car-slider{
		margin: 10% !important;
	}

	.cd-faq-items {
		margin: 27px !important;
	    width: 82% !important;
	    float: none !important;
	}

	.custom-pay-img li {
     	width: max-content !important;
    	margin-right: 28px !important;
    }

    .margin-right {
    	margin-right: unset !important; 
	}

	.margin-top {
	    margin-top: unset !important; 
	}

	.margin-top-extra {
		margin-top: unset !important;
	    margin-right: 50px !important;
	}


	.logo-invoice {
		float: none !important;
		margin-left: unset !important;
	    width: 36% !important;
	    margin-right: 50px !important;
	    margin-top: 42px !important;
	}

	.navbar-toggler{
		margin-left: 50px !important;
	}

	body.menu-opened .navbar.navbar-expand-lg #mainMenu {
	    width: 100% !important;
	    padding: 15% !important;
	}

	.dropdown-menu{
		top: 24% !important;
	    font-size: 13px !important;
	    max-width: 100% !important;
	    border: 1px solid #33b0f870 !important;
	    border-radius: 0.9rem !important;
	    box-shadow: 1px 1px 2px 2px #00000017 !important;
	}

	.show>.dropdown-menu {
    	left: 49% !important;
    }

    .custom-fav-img{
        width: 15% !important;
    	margin-top: -68px !important;
    }

    .navbar{
    	direction: ltr !important;
    }

    .fa-search {
	    margin-top: 27px !important;
	    float: left !important;
	    margin-left: -16px !important;
	}
	
	.generalSearch::-webkit-input-placeholder{
    	font-size: 9.8px;
    }

    .generalSearch{
    	width: 100% !important;
    	float: right !important;
    }

    .custom-show-filters{
    	margin-top: 5px !important;
    }


    .carListBE{
    	margin-left: -29px !important;
    }

    .car_btn_custom{
    	display: none !important;
    }

    .policy_web_view, .custom-des-web-slider, .custom-rec-city-web{
    	display: none !important;
    }

    .policy_mobile_view, .custom-pricing-section-mobile, .custom-show-filters, .custom-slider-mob, .custom-rec-city-mob{
    	display: block !important;
    }

    #mem-f{
    	display: block;
    }

    .show-prices{
    	text-align: center !important;
    	padding: 10px !important;
    }

    #paynow{
    	margin-top: 25px !important;
    }

    #nav-tabContent{
    	margin: 0px 20px !important;
    }

    .branches_section{
    	margin-bottom: 50px !important;
    }

    .custom_explore_text{
    	margin: 10px !important;
    }

    .custom_title_text{
    	display: block !important;
    }

    .custom-show-prices{
    	margin-left: unset !important;
    	margin-right: unset !important;
    }

    .custom-prices-mobile_view{
	    border-radius: 0.9rem !important;
	    box-shadow: 1px 1px 2px 2px #00000017 !important;
	    margin-bottom: 20px !important;
   		background-color: #ededed63;
    }

    .custom-button-prices{
        border: 1px solid;
    	font-weight: bolder;
    	margin: 15px 0px !important;
    }

    .align-table-custom-mob{
    	margin-right: 27px !important;
    }

    .rebeated-q{
		padding: 0px !important;
		margin-top: -40px !important;
	}

	.button-mobile {
	    background: #01355d !important;
    	color: #fff !important;
    	border: 1px solid #01355d !important;
	}

	.head-txt-resp{
		text-align: center !important;
	}

	.custom-move-up-res{
		margin-top: -60px !important;
	}

	.custom-title-head{
		font-size: 13px !important;
	}

	.custom-fixed-area-res{
		margin-top: 12px !important;
	}

	.custom-faq-res{
		margin: 0px !important;
	}

	.custom-cd-faq-items{
		margin: 0px !important;
	    width: 99% !important;
	    float: none !important;
	}

	.carListItemResponse{
		margin: 0px 2px;
	}

}

@media (min-width: 340px) and (max-width: 400px) {
	.footerBottomMenu{
		margin-right: -60px !important; 
	}
	.custom-payment-img{
	    margin-right: -52px !important;
	    margin-top: -29px !important;
	    text-align: end !important;
	}

	.payment-img{
		width: 128% !important;
	}

	.payment-img li{
		width: 60px !important;
	}
	.footermenu{
	    margin-right: -63px !important;
	    font-size: 11px !important;
	}
	.custom-align{
		text-align: unset !important;
	}
	img.footerlogo{
		width: 30% !important;
		margin-left: unset !important;
	}
	.footer-social{
		margin-right: 7px !important;
	}
	.footer-social a {
	    margin-left: 8px !important;
	}
	.mx-auto{
		padding: 30px !important;
		margin-top: -96px !important;
	}
	.custom-align-branches{
		text-align: -webkit-center !important;
	}
	.circle {
	    position: relative !important;
	    width: 26% !important;
	    padding-bottom: 10% !important;
	    background: #fff !important;
	    border-radius: 41% !important;
	}
	.custom-margin-map{
		margin-top: 10px !important;
	}
	.circle:hover {
	    background: #01355d !important;
	    color: #fff !important;
	}
	.cd-faq-trigger:before{
		position: absolute !important;
    	left: 8px !important;
    	top: 30% !important;
	}
	.cd-faq-question{
		width: 121% !important;
    	margin-right: -25px !important;
	}
	.nav-tabs {
	    margin-top: 50px !important;
	    margin-right: 10% !important
	}

	.custom-row-margin{
		margin-right: unset !important;
		margin-left: unset !important;
	}

	.pricing-switcher .car_btn label {
		width: 80px !important;
	}

	ul.pricetable li {
		flex: 0 !important;
		margin-right: 22px !important;
	}

	.text-muted{
		margin: 0px 29px !important;
	}
	
	.cartype li {
     	width: 24% !important; 
	}

	.custom-margin-car-slider{
		margin: 10% !important;
	}

	.cd-faq-items {
		margin: 27px !important;
	    width: 82% !important;
	    float: none !important;
	}

	.custom-pay-img li {
     	width: max-content !important;
    	margin-right: 28px !important;
    }

    .margin-right {
    	margin-right: unset !important; 
	}

	.margin-top {
	    margin-top: unset !important; 
	}

	.margin-top-extra {
		margin-top: unset !important;
	    margin-right: 50px !important;
	}


	.logo-invoice {
		float: none !important;
		margin-left: unset !important;
	    width: 36% !important;
	    margin-right: 50px !important;
	    margin-top: 42px !important;
	}

	.navbar-toggler{
		margin-left: 50px !important;
	}

	body.menu-opened .navbar.navbar-expand-lg #mainMenu {
	    width: 100% !important;
	    padding: 15% !important;
	}

	.dropdown-menu{
		top: 24% !important;
	    font-size: 13px !important;
	    max-width: 100% !important;
	    border: 1px solid #33b0f870 !important;
	    border-radius: 0.9rem !important;
	    box-shadow: 1px 1px 2px 2px #00000017 !important;
	}

	.show>.dropdown-menu {
    	left: 49% !important;
    }

    .custom-fav-img{
        width: 15% !important;
    	margin-top: -68px !important;
    }

    .navbar{
    	direction: ltr !important;
    }

    .fa-search {
	    margin-top: 27px !important;
	    float: left !important;
	    margin-left: -16px !important;
	}

	.generalSearch::-webkit-input-placeholder{
    	font-size: 8.2px;
    }

    .generalSearch{
    	width: 100% !important;
    	float: right !important;
    }

    .custom-show-filters{
    	margin-top: 5px !important;
    }


    .carListBE{
    	margin-left: -29px !important;
    }

    .car_btn_custom{
    	display: none !important;
    }

    .policy_web_view, .custom-des-web-slider, .custom-rec-city-web{
    	display: none !important;
    }

    .policy_mobile_view, .custom-pricing-section-mobile, .custom-show-filters, .custom-slider-mob, .custom-rec-city-mob{
    	display: block !important;
    }

    #mem-f{
    	display: block;
    }

    .show-prices{
    	text-align: center !important;
    	padding: 10px !important;
    }

    #paynow{
    	margin-top: 25px !important;
    }

    #nav-tabContent{
    	margin: 0px 20px !important;
    }

    .branches_section{
    	margin-bottom: 50px !important;
    }

    .custom_explore_text{
    	margin: 10px !important;
    }

    .custom_title_text{
    	display: block !important;
    }

    .custom-show-prices{
    	margin-left: unset !important;
    	margin-right: unset !important;
    }

    .custom-prices-mobile_view{
	    border-radius: 0.9rem !important;
	    box-shadow: 1px 1px 2px 2px #00000017 !important;
	    margin-bottom: 20px !important;
   		background-color: #ededed63;
    }

    .custom-button-prices{
        border: 1px solid;
    	font-weight: bolder;
    	margin: 15px 0px !important;
    }

    .align-table-custom-mob{
    	margin-right: 27px !important;
    }

    .rebeated-q{
		padding: 0px !important;
		margin-top: -40px !important;
	}

	.button-mobile {
	    background: #01355d !important;
    	color: #fff !important;
    	border: 1px solid #01355d !important;
	}

	.head-txt-resp{
		text-align: center !important;
	}

	.custom-move-up-res{
		margin-top: -60px !important;
	}

	.custom-title-head{
		font-size: 13px !important;
	}

	.custom-fixed-area-res{
		margin-top: 12px !important;
	}

	.custom-faq-res{
		margin: 0px !important;
	}

	.custom-cd-faq-items{
		margin: 0px !important;
	    width: 99% !important;
	    float: none !important;
	}

	.carListItemResponse{
		margin: 0px 2px;
	}

}


@media (max-width: 330px) and (min-width: 290px){

	.custom-footer-mar{
		margin-bottom: 0px !important;
	}
	.fa-search {
	    margin-top: 27px !important;
	    float: left !important;
	    margin-left: -16px !important;
	}

	.cars-many, .cars-branch{
		width: 100% !important;
	}

	.pricetable{
		margin-right: -27px !important;
	}

	.footerBottomMenu{
		margin-right: -60px !important; 
	}
	.custom-payment-img{
	    margin-right: -58px !important;
    	margin-top: -42px !important;
	    margin-bottom: 39px;
	}

	.payment-img {
		width: 132% !important;
	}

	.payment-img li{
		width: 60px !important;
	}
	.footermenu{
	    margin-right: -63px !important;
	    font-size: 9px !important;
	}
	.custom-align{
		text-align: unset !important;
	}
	img.footerlogo{
		width: 30% !important;
		margin-left: unset !important;
	}
	.footer-social{
		margin-right: -12px !important;
	}
	.footer-social a {
	    margin-left: 8px !important;
	}
	.mx-auto{
		padding: 30px !important;
		margin-top: -96px !important;
	}
	.custom-align-branches{
		text-align: -webkit-center !important;
	}
	.circle {
	    position: relative !important;
	    width: 26% !important;
	    padding-bottom: 10% !important;
	    background: #fff !important;
	    border-radius: 41% !important;
	}
	.custom-margin-map{
		margin-top: 10px !important;
	}
	.circle:hover {
	    background: #01355d !important;
	    color: #fff !important;
	}
	.cd-faq-trigger:before{
		position: absolute !important;
    	left: 8px !important;
    	top: 30% !important;
	}
	.cd-faq-question{
		width: 121% !important;
    	margin-right: -25px !important;
	}
	.nav-tabs {
	    margin-top: 50px !important;
	    margin-right: 10% !important
	}

	.custom-row-margin{
		margin-right: unset !important;
		margin-left: unset !important;
	}

	.pricing-switcher .car_btn label {
		width: 65px !important;
	}

	ul.pricetable li {
		flex: 0 !important;
		margin-right: 22px !important;
	}

	.text-muted{
		margin: 0px 29px !important;
	}
	
	.cartype li {
     	width: 24% !important; 
	}

	.custom-margin-car-slider{
		margin: 10% !important;
	}

	.cd-faq-items {
		margin: 27px !important;
	    width: 82% !important;
	    float: none !important;
	}

	.custom-pay-img li {
     	width: max-content !important;
    	margin-right: 28px !important;
    }

    .margin-right {
    	margin-right: unset !important; 
	}

	.margin-top {
	    margin-top: unset !important; 
	}

	.margin-top-extra {
		margin-top: unset !important;
	    margin-right: 50px !important;
	}


	.logo-invoice {
		float: none !important;
		margin-left: unset !important;
	    width: 36% !important;
	    margin-right: 50px !important;
	    margin-top: 42px !important;
	}

	.navbar-toggler{
		margin-left: 50px !important;
	}

	body.menu-opened .navbar.navbar-expand-lg #mainMenu {
	    width: 100% !important;
	    padding: 15% !important;
	}

	.dropdown-menu{
		top: 24% !important;
	    font-size: 13px !important;
	    max-width: 100% !important;
	    border: 1px solid #33b0f870 !important;
	    border-radius: 0.9rem !important;
	    box-shadow: 1px 1px 2px 2px #00000017 !important;
	}

	.show>.dropdown-menu {
        left: 71% !important;
    	margin-top: 48px !important;
    	width: 55% !important;
    }

    .dropdown-item{
    	margin: 0px !important;
    }

    .custom-fav-img{
        width: 15% !important;
    	margin-top: -68px !important;
    }

    .navbar{
    	direction: ltr !important;
    	margin-left: 10px !important;
    }

    .generalSearch::-webkit-input-placeholder{
    	font-size: 7.2px;
    }

    .generalSearch{
    	width: 100% !important;
    	float: right !important;
    }

    .custom-show-filters{
    	margin-top: 5px !important;
    }

    .carListBE{
    	margin-left: -29px !important;
    }

    .car_btn_custom{
    	display: none !important;
    }

    .policy_web_view, .custom-des-web-slider, .custom-rec-city-web{
    	display: none !important;
    }

    .policy_mobile_view, .custom-pricing-section-mobile, .custom-show-filters, .custom-slider-mob, .custom-rec-city-mob{
    	display: block !important;
    }

    #mem-f{
    	display: block;
    }

    .show-prices{
    	text-align: center !important;
    	padding: 10px !important;
    }

    #paynow{
    	margin-top: 25px !important;
    }

    #nav-tabContent{
    	margin: 0px 20px !important;
    }

    .branches_section{
    	margin-bottom: 50px !important;
    }

    .custom_explore_text{
    	margin: 10px !important;
    }

    .custom_title_text{
    	display: block !important;
    }

    .custom-show-prices{
    	margin-left: unset !important;
    	margin-right: unset !important;
    }

    .custom-prices-mobile_view{
	    border-radius: 0.9rem !important;
	    box-shadow: 1px 1px 2px 2px #00000017 !important;
	    margin-bottom: 20px !important;
   		background-color: #ededed63;
    }

    .custom-button-prices{
        border: 1px solid;
    	font-weight: bolder;
    	margin: 15px 0px !important;
    }

    .align-table-custom-mob{
    	margin-right: 27px !important;
    }

    .rebeated-q{
		padding: 0px !important;
		margin-top: -40px !important;
	}

	.button-mobile {
	    background: #01355d !important;
    	color: #fff !important;
    	border: 1px solid #01355d !important;
    	width: 47% !important;
    	margin-left: 9px !important;
	}
	.fa.fa-filter{
		margin-left: 11px !important;
	}

	#mainMenuResp{
		display: contents !important;
	}

	.head-txt-resp{
		text-align: center !important;
	}

	.custom-move-up-res{
		margin-top: -60px !important;
	}

	.custom-title-head{
		font-size: 13px !important;
	}

	.custom-fixed-area-res{
		margin-top: 12px !important;
	}

	.custom-faq-res{
		margin: 0px !important;
	}

	.custom-cd-faq-items{
		margin: 0px !important;
	    width: 99% !important;
	    float: none !important;
	}

	.carListItemResponse{
		margin: 0px 2px;
	}

	.whatsapp-logo-f{
		width: 19% !important;
	    float: left !important;
	    margin-bottom: -15px !important;
	    margin-left: -23px !important;
	}


	.button-mobile-fixed{
		display: block !important;
	}

	.pagin{
		width: 112% !important;
	}

	.whatsapp-div-parent{
		left: 43px !important;
	}

}

#launcher{
	bottom: 8px !important;
}

.button-mobile-container {
    width: 98% !important;
}

.searchViewBtn{
	margin-bottom: 5px !important;
}

.whatsapp-logo-f{
	width: 5%;float: left;margin-bottom: -16px;
}

.whatsapp-div-parent
{
	position: fixed;bottom: 30px;left: 30px;z-index: 600;
}

