/* ------------------------------------------------
  Project:   Efad
------------------------------------------------ */
/* ------------------------
    Table of Contents

  1. General
  2. Transition
  3. Transform translate
  4. Box Shadow
  5. Custom Margin
  6. Custom Padding  
  7. Padding
  8. Margin
  8. scroll top


 
/* ------------------------
    General
------------------------*/
a:focus { text-decoration: none !important; }
a:focus, a:hover { color: #343d42; text-decoration: none !important; }
a, button, input { outline: medium none !important; color: #555; }

a:hover{color: #333; }

*::-moz-selection { background: #343d42; color: #fff; text-shadow: none; }
::-moz-selection { background: #343d42; color: #fff; text-shadow: none; }
::selection { background: #343d42; color: #fff; text-shadow: none; }

.jumbotron{ background: #f0f0f0; }
.btn-success{background-color: #1bbc9d;
    border-color: #1bbc9d;}


/* display this row with flex and use wrap (= respect columns' widths) */

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

/* ------------------------
    Transition
------------------------*/
a, i, .btn, button, img, span, .animatedBackground, .navbar-nav .nav-link:before, .dropdown-item, .circle:hover
{-webkit-transition: all 0.2s ease-in-out 0s; -moz-transition: all 0.2s ease-in-out 0s; -ms-transition: all 0.2s ease-in-out 0s; -o-transition: all 0.2s ease-in-out 0s; transition: all 0.2s ease-in-out 0s; }
 

/* ------------------------
    Transform translate
------------------------*/

/*--translate-X--*/
.transform-x, .bnr-animation, .text-center .title:before{transform: translateX(-50%); -webkit-transform: translateX(-50%); -o-transform: translateX(-50%); -ms-transform: translateX(-50%); -moz-transform: translateX(-50%);}

/*--translate-Y--*/
.transform-y, .bnr-img2, .image-column, .counter i, .align-center, .clear-loader, .widget-searchbox .search-btn, .featured-item.style-3 .featured-icon, .post-queto .item span{transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%);}

/*--translate-XY--*/
.clear-loader, .pattern-3, .video-btn-pos, .insideText{transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); -o-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); -moz-transform: translateX(-50%) translateY(-50%);}

/*--translate-X-5--*/
.navbar-nav .dropdown-menu .nav-link:focus, .navbar-nav .dropdown-menu .nav-link:hover{transform: translateX(5px); -webkit-transform: translateX(5px); -o-transform: translateX(5px); -ms-transform: translateX(5px); -moz-transform: translateX(5px);}

/*--translate-Y-5--*/
.featured-item:hover{transform: translateY(5px); -webkit-transform: translateY(5px); -o-transform: translateY(5px); -ms-transform: translateY(5px); -moz-transform: translateY(5px);}


/* ------------------------
    Box Shadow
------------------------*/
.box-shadow, .boxed-view, .btn, #header-wrap.fixed-header, #ht-main-nav, .search-input, .featured-item.style-2, .testimonial .testimonial-img img, .testimonial .testimonial-quote, .price-table, .tab .nav-tabs .nav-link, .post, .post-author-img, .post.style-2 .post-desc, .work-process.style-2 .step-num, .cases-item:hover, .active.center .cases-item, .tab.style-2 .tab-content, .featured-item:hover,  .info-inner, .accordion .card-header, .media-holder .media, .team-member:hover .team-description, .team-member.active .team-description, .team-member:hover .team-social-icon, .team-member.active .team-social-icon{-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.050); -moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.050); box-shadow: 0px 0px 20px rgba(0,0,0,0.050);}
input:-internal-autofill-previewed, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected{
    background-color: rgba(0,0,0,1) !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}

/* ------------------------
    Custom Margin
------------------------*/
.custom-mt-5{z-index: 99; position: relative; margin-top: -50px;}
.custom-mt-7{z-index: 99; position: relative; margin-top: -70px;}
.custom-mt-10{z-index: 99; position: relative; margin-top: -100px;}
.custom-mt-12{z-index: 99; position: relative; margin-top: -120px;}
.custom-mt-15{z-index: 99; position: relative; margin-top: -150px;}
.custom-mt-20{z-index: 99; position: relative; margin-top: -200px;}
.custom-mt-25{z-index: 99; position: relative; margin-top: -250px;}

.mt-2{margin-top: 20px;}
.mb-2{margin-bottom: 20px;}
/* ------------------------
    Custom Padding
------------------------*/
.custom-pt-18{ padding-top: 180px;}
.custom-pb-18{ padding-bottom: 180px;}


/* ------------------------
    Padding
------------------------*/
.px-10{padding-left: 100px !important; padding-right: 100px !important;}
.px-15{padding-left: 150px !important; padding-right: 150px !important;}
.px-20{padding-left: 200px !important; padding-right: 200px !important;}
.py-4{padding-top: 40px !important; padding-bottom: 40px !important;}
.py-8{padding-top: 80px !important; padding-bottom: 80px !important;}
.py-10{padding-top: 100px !important; padding-bottom: 100px !important;}
.py-15{padding-top: 150px !important; padding-bottom: 150px !important;}
.py-20{padding-top: 200px !important; padding-bottom: 200px !important;}

.pl-10{padding-left: 100px !important;}
.pr-10{padding-right: 100px !important;}
.pt-4{padding-top: 40px !important;}
.pb-4{padding-bottom: 40px !important;}
.pt-8{padding-top: 80px !important;}
.pb-8{padding-bottom: 80px !important;}
.pt-2{padding-top: 20px !important;}
.pt-10{padding-top: 100px !important;}
.pt-15{padding-top: 150px !important;}
.pt-20{padding-top: 200px !important;}
.pb-10{padding-bottom: 100px !important;}
.pb-15{padding-bottom: 150px !important;}
.pb-17{padding-bottom: 170px !important;}
.pb-20{padding-bottom: 200px !important;}
.pb-2{padding-bottom: 20px !important;}

.pa-25{padding: 25px}
.pa-35{padding: 35px}


/* ------------------------
    Margin
------------------------*/
section, header{padding-top:20px; padding-bottom: 20px}
.mt-2{margin-top: 20px !important;}
.mt-8{margin-top: 80px !important;}
.mt-10{margin-top: 100px !important;}
.mt-15{margin-top: 150px !important;}

.my-8{margin-top: 80px !important; margin-bottom: 80px !important;}
.my-10{margin-top: 100px !important; margin-bottom: 100px !important;}
.my-15{margin-top: 150px !important; margin-bottom: 150px !important;}
.my-20{margin-top: 200px !important; margin-bottom: 200px !important;}

/* ------------------------
    Pre Loader
------------------------*/
#ht-preloader {background: #ffffff; bottom: 0; height: 100%; left: 0; overflow: hidden !important; position: fixed; right: 0; text-align: center; top: 0; width: 100%; z-index: 99999;}
.clear-loader {z-index: 999; box-sizing: border-box; display: inline-block; left: 50%; position: absolute; text-align: center; top: 50%;}
.loader {display: flex; font-size: 2em; color: #ff7810;}
.loader-dots {display: flex; position: relative; top: 20px; left: -10px; width: 100px; animation: dots 4s ease infinite 1s;}
.loader-dots span {position: relative; width: 10px; height: 10px; margin-right: 10px; border-radius: 100%; background-color: black;}
.loader-dots span:nth-child(1) {width: 0px; height: 0px; margin: 5px; margin-right: 15px; animation: show-dot 4s ease-out infinite 1s;}
.loader-dots span:nth-child(4) {background-color: transparent; animation: dot-fall-left 4s linear infinite 1s;}
.loader-dots span:nth-child(4):before {position: absolute; width: 10px; height: 10px; margin-right: 10px; border-radius: 100%; background: #111121; content: ''; animation: dot-fall-top 4s cubic-bezier(0.46, 0.02, 0.94, 0.54) infinite 1s;}

/* ------------------------
    Scroll to Top
------------------------*/
.scroll-top {position: fixed; bottom: 30px; right: 30px; z-index: 600; display:none}
.scroll-top a, .scroll-top a:visited {display: block; height: 30px; width: 30px; line-height: 30px; text-align: center; border-radius: 7px; -webkit-box-shadow: 0 0 15px 6px rgba(0,0,0,0.1); -moz-box-shadow: 0 0 15px 6px rgba(0,0,0,0.1); box-shadow: 0 0 15px 6px rgba(0,0,0,0.1); -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; font-size:16px; color: #ffffff; background: #333;}
.scroll-top a:hover, .scroll-top a:focus {color: #ff7810; background: #ffffff;}
.scroll-top.scroll-visible {opacity: 1; visibility: visible; -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}

/* ------------------------
    border
------------------------*/
.border-top{border-top:1px solid #e9e9e9}

.no-border{border:0 none !important}
/* ------------------------
    btn
------------------------*/

.btn-default{
	position: static;
    display: inline-block;
    height: auto;
    border-radius: 50px;
    text-indent: 0;
    transition: all .6s;
    
	border: 2px solid #333; 
	
	padding: 0.2rem 0.5rem;color:#333; background:#f0f0f0; font-size: 0.875rem
}
.btn-select{
background:#333; color:#fff; 
}

 .btn-default:hover{background:#333; color:#fff; }


 .btn-light{
	position: static;
    display: inline-block;
    height: auto;
    border-radius: 50px;
    text-indent: 0;
    transition: all .6s;
    
	border: 2px solid #d1d1d1; 
	font-size: 1rem;
	padding: 0.5rem 1.5rem;color:#d1d1d1; background:#f0f0f0; color:#d1d1d1
}

  .btn-default:hover:disabled{background: none;color:#fff;border:2px solid #d1d1d1;background:#d1d1d1}
   .btn-default:disabled{background: none;color:#fff;border:2px solid #d1d1d1; background:#d1d1d1}




  /************************.............. form ....................***************************/

  .height200 { height: 200px; }
.height300 { height: 300px; }
.width100p { width: 100%; }
.width300 { width: 300px; }

 input[type="text"],  input[type="search"],  input[type="password"], input[type="email"], input[type="tel"] {
    border: 1px solid #d5d3d3;
    color: #616163;
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.07);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.07);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.07);
    outline: none;
    font-size: 0.75rem;
    height: 2.5rem
}

 .form-control{ background:#f0f0f0}

.form-control:focus {
  border-color: #e7e7e7;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e7e7e7;
}

input, textarea, select, a { outline: none !important; }
input:focus, textarea:focus, select:focus{ outline: none; } 

.select2-container--default {width:100% !important}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 4px);
}


select {
	background: #F0F3FB;
	border: 1px solid #F0F3FB;
	border-radius: 4px;
	width: 100%;
	padding: 20px;
	font-size: 16px;
	color: #3F3F3F;

	/* Here's the code we need */
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	 -o-appearance: none;
		appearance: none;
}

.select-wrapper {
	position: relative;	
}

.select-wrapper:after {
	font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f078";
  	font-size: 1em;
  	position: absolute;
  	top: 0.5em;
  	left: 20px;
  	color: #434B67;
  	pointer-events: none;
}

select::-ms-expand {
  display: none;
}

select option:hover,
select option:focus,
select option:active {
    background: linear-gradient(#000000, #000000);
    background-color: #000000 !important; /* for IE */
    color: #ffed00 !important;
}

select option:checked {
    background: linear-gradient(#d6d6d6, #d6d6d6);
    background-color: #d6d6d6 !important; /* for IE */
    color: #000000 !important;
}

.bg-secondary{ background-color:#f7f7f7 !important}



.lang img{width:20px}

.text-muted {color:#525252 !important
 
}